/node_modules
/public/hot
/public/uploads/
/public/storage
/public/css
/public/js
/public/docs
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.package-lock.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/laradock
/.vscode
/false
.scribe
