.help-block {
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}
.panel-default {
    border-color: #ddd !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-body {
    padding: 15px;
}
.box.box-success {
    border-top-color: #00a65a;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.user-block .username {
    font-size: 16px;
    font-weight: 600;
}
a {
    color: #3c8dbc;
    text-decoration: none;
}
.box-comments {
    background: #f7f7f7;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.box-comments .comment-text {
    color: #555;
}
.user-block .username, .user-block .description, .user-block .comment, .box-comments .comment-text {
    margin: 0 !important;
}
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}
.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin: 0 !important;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.box.box-success {
    border-top-color: #00a65a;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

#table-wrapper {
    position: relative;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#table-scroll {
    overflow: auto;
}
#table-wrapper table {
    width: 100%;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.text-nowrap {
    white-space: nowrap;
}
table {
    background-color: transparent;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
